spring:
  application:
    name: Joao Guilherme 657110 - Music API
  datasource:
    url: jdbc:postgresql://localhost:5432/musicdb
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

security:
  jwt:
    secret: music-api-senior-seplag-657110-supersecret123!@#
    expiration: 300000
    refresh-expiration: 604800000

minio:
  url: http://minio:9000
  api-url: http://localhost:9001/api/v1
  public-url: http://localhost:9000
  access-key: minioadmin
  secret-key: minioadmin
  bucket: music-covers

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

server:
  port: 8080
  http2:
    enabled: false # Evita conflito Postman

logging:
  level:
    org:
      springframework:
        security: OFF
        web:
          socket: DEBUG
        messaging: DEBUG
